@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
      @apply bg-primary-gray-default min-h-screen flex flex-col;
      
  }
  html {
      font-family: 'Roboto', sans-serif;
  }

  h1 {
    @apply text-primary-yellow-default;
  }
  h2 {
    @apply text-3xl font-customBukagi mb-4 text-primary-yellow-default [text-shadow:_0_4px_4px_rgb(0_0_0_/.25)];
  }
}
@font-face {
  font-family: 'Bukagi';
  src: url('/fonts/Bukagi/Bugaki-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Henju';
  src: url('/fonts/Henju/Henju-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}



/* Start : general styles :*/
.max-width {
  @apply max-w-[1440px] mx-auto;
}
.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply px-4 py-2 mb-4 bg-primary-yellow-default text-black font-bold rounded hover:bg-gray-200 active:transform active:scale-95 active:shadow-inner transition-transform duration-150
}
.custom-btn-op {
  @apply px-2 py-1 bg-white text-black font-bold rounded
}

.custom-btn-del {
  @apply px-2 py-1 bg-white text-black font-bold rounded hover:bg-red-500 active:transform active:scale-95 active:shadow-inner transition-transform duration-150
}

.custom-icon {
  filter: invert(82%) sepia(75%) saturate(3436%) hue-rotate(0deg) brightness(100%) contrast(95%);
}

/* END: General styles */

.hero {
  @apply flex xl:flex-row flex-col gap-5
  relative z-0 max-w-[1440px] mx-auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* START: searchbar styles */
.searchbar {
  @apply flex items-center left-5 max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-primary-yellow-200 rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}

.search-product {
  @apply flex-1 max-sm:w-full flex justify-start items-center 
}

.search-product_input {
  @apply w-full py-2 pl-10 pr-4 text-sm leading-5 text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-primary-yellow-200 focus:border-transparent 
}

.search-product_option {
  @apply absolute w-full py-1 mt-1 overflow-auto text-base bg-white border border-gray-300 rounded-md shadow-lg max-h-60 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm 
}
/* END: searchbar styles */

/* START: product page styles */

.product-page{
  @apply flex justify-center items-center min-h-full
}

.product-page_card {
  @apply bg-primary-yellow-300 bg-opacity-10 backdrop-blur-lg p-8 border-2 border-primary-yellow-300 rounded-lg shadow-lg w-full max-w-lg md:max-w-3xl
}

/* END: searchbar styles */